# tinyrox says don't edit this manually, but it can't stop you!

export(ont_add)
export(ont_briefing)
export(ont_emit_obo)
export(ont_heartbeat)
export(ont_index)
export(ont_promote)
export(ont_query)
export(ont_startup)
export(ont_status)
export(ont_suggest)

S3method(print,ont_status)
